@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-color: #4769c7;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #ef4e17;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.video-details {
  width: 60%;
  margin-bottom: 1rem;
}

.video-items {
  width: 30%;
  margin-bottom: 1rem;
  height: 41rem;
  overflow-x: hidden;
  padding: 10px;
  box-shadow: 1px #888888;
}

::-webkit-scrollbar {
  background: transparent;
}


@media (max-width: 768px) {

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .video-container {
    display: block;
  }

  .video-details {
    width: 100%;
  }

  .video-items {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
